<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>

</head>

<body>
    <h1>Hello, world!</h1>
    <p>I am inside index page.</p>

    <hr>
    <hr>

    <a href="{% url 'nepal_page' %}">
        <button>Nepal</button>
    </a>

    <a href="{% url 'india_page' %}">
        <button>India</button>
    </a>

    <a href="{% url 'china_page' %}">
        <button>China</button>
    </a>

    <a href="{% url 'usa_page' %}">
        <button>USA</button>
    </a>

    <a href="{% url 'japan_page' %}">
        <button>Japan</button>
    </a>

</body>

</html>