<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>

</head>

<body>

    <h1>Hello, world!</h1>
    <p>I am inside director page.</p>

    <a href="{% url 'index_page' %}">
        <button>Index</button>
    </a>

    <a href="{% url 'favmovie_page' %}">
        <button>Favourite Movies</button>
    </a>

    <hr>
    <hr>

    <p>Director's name is {{name}}</p>
    <p>Director's profession is {{profession}}</p>
    <p>Director's debut movie is {{debut}}</p>
    <p>Director's spouce is {{spouce}}</p>

</body>

</html>